# ROS 編譯產物
catkin_ws/build/
catkin_ws/devel/
catkin_ws/logs/

# ROS 軟連結 (自動產生)
catkin_ws/src/CMakeLists.txt

# 大型資料檔案
Robot_Goalkeeper.v1i.yolov8/
data/
*.bag
*.mat
*.dat

# Log 檔案
logs/

# 模型權重檔
*.pt
runs/

# Python
__pycache__/
*.pyc
*.pyo

python/H.npy

# MATLAB/Octave
*.asv

# 系統檔案
.DS_Store
Thumbs.db

# 虛擬環境
.venv/

# tmux控制檔案
*.sh

TODO.txt


