<launch>
    <param name="robot_description" textfile="$(find minibot_description)/urdf/minibot.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" 
          type="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="publish_fixed_joints" type="bool" value="true" />
        <param name="use_tf_static" type="bool" value="false" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sample_code)/rviz/goalkeeper.rviz" required="true" />
</launch>
